@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600;1,700&family=Yomogi&display=swap');
* {
    margin: 0;
    padding: 0;
}


/* 
body {
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */

.title h1 {
    color: black;
    text-align: center;
    margin-top: 15px;
    font-family: 'Source Code Pro', monospace;
    font-size: 50px;
}


/* Player and CPU images styling  */

img {
    max-width: 25vw;
    max-height: 55vh;
    align-items: center;
}


/* End of Player and CPU images styling  */


/* Main container for all */

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
}


/* End of Main container for all */


/* styling the inner content that display the buttons for player */

.player-table {
    border-radius: 5px;
    text-align: center;
    border: rgb(222, 222, 224) solid 5px;
    position: absolute;
    left: 25%;
    bottom: 5%;
}


/* End of styling the inner content that display the buttons for player */


/* styling the inner content that display the buttons for CPU */

.cpu-table {
    border-radius: 5px;
    text-align: center;
    border: rgb(222, 222, 224) solid 5px;
    position: absolute;
    right: 26%;
    bottom: 5%;
}


/* End of styling the inner content that display the buttons for CPU */


/* styling the images for the players */

.player-table button img {
    max-width: 5vw;
}

.cpu-table button img {
    max-width: 5vw;
}


/* End of styling the images for the players */


/* Styling for the winners display */

#message-display {
    font-weight: bold;
    width: auto;
    font-size: larger;
    justify-content: center;
    height: fit-content;
    margin: 1.5%;
    display: block;
}

.result {
    border-radius: 10px;
    text-align: center;
    position: absolute;
    left: 37%;
    bottom: 90%;
    padding-top: 25px;
    border: 5px solid rgb(151, 148, 148);
    height: 50px;
    width: 300px;
}


/* End of Styling for the winners display */


/* Left pan for the image */

.left-pan {
    /* position: relative; */
    flex: 65%;
    padding: 10px;
    margin-left: 35px;
}


/* End of Left pan for the image */


/* Right pan for the image */

.right-pan {
    /* position: relative; */
    padding: 15px;
}


/* End of Right pan for the image */

#player-score {
    padding-top: 25px;
    border: 5px solid rgb(201, 198, 198);
    height: 50px;
    width: 50px;
    margin-left: 35%;
    border-radius: 5px;
    font-weight: bold;
}

#cpu-score {
    padding-top: 25px;
    border: 5px solid rgb(201, 198, 198);
    height: 50px;
    width: 50px;
    margin-left: 35%;
    border-radius: 5px;
    font-weight: bold;
}


/* Media query for smaller devies */

@media (max-width: 800px) {
    .right-pan,
    .left-pan {
        flex: 100%;
    }
    .player-table {
        border: blue solid;
        position: absolute;
        left: 15%;
        bottom: -15%;
    }
    .cpu-table {
        border: blue solid;
        position: absolute;
        right: 15%;
        bottom: -15%;
    }
}

@media(max-width: 450px) {
    #message-display {
        font-weight: bold;
        width: auto;
        font-size: medium;
        justify-content: center;
        height: fit-content;
        margin: 1.5%;
        display: block;
    }
    .result {
        border-radius: 10px;
        text-align: center;
        position: absolute;
        left: 10%;
        bottom: 100%;
        padding: 15px;
        padding-bottom: 35px;
        border: 5px solid rgb(151, 148, 148);
        height: 3px;
        width: 200px;
    }
    .player-table {
        border: blue solid;
        position: absolute;
        left: -10%;
        bottom: -95%;
        text-align: center;
        max-width: 45%;
        font-size: small;
        /* max-width: 50vw; */
    }
    .cpu-table {
        border: rgb(255, 0, 149) solid;
        position: absolute;
        right: -10%;
        bottom: -95%;
        text-align: center;
        max-width: 45%;
        font-size: small;
    }
    .player-table button img {
        max-width: 5vw;
    }
    .cpu-table button img {
        max-width: 5vw;
    }
    #player-score {
        padding-top: 10px;
        border: 5px solid rgb(207, 33, 33);
        height: 50px;
        width: 50px;
        margin-left: 25%;
        border-radius: 5px;
        font-weight: bold;
    }
    #cpu-score {
        padding-top: 10px;
        border: 5px solid rgb(201, 198, 198);
        height: 50px;
        width: 50px;
        margin-left: 25%;
        border-radius: 5px;
        font-weight: bold;
    }
}

@media(max-width: 370px) {
    .player-table {
        border: blue solid;
        position: absolute;
        left: -5%;
        bottom: -110%;
        text-align: center;
        max-width: 45%;
        font-size: small;
        /* max-width: 50vw; */
    }
    .cpu-table {
        border: rgb(255, 0, 149) solid;
        position: absolute;
        right: -5%;
        bottom: -110%;
        text-align: center;
        max-width: 45%;
        font-size: small;
    }
    .player-table button img {
        max-width: 5vw;
    }
    .cpu-table button img {
        max-width: 5vw;
    }
    #player-score {
        padding-top: 10px;
        border: 5px solid rgb(207, 33, 33);
        height: 25px;
        width: 35px;
        margin-left: 25%;
        border-radius: 5px;
        font-weight: bold;
    }
    #cpu-score {
        padding-top: 10px;
        border: 5px solid rgb(201, 198, 198);
        height: 25px;
        width: 35px;
        margin-left: 25%;
        border-radius: 5px;
        font-weight: bold;
    }
}

@media(max-width: 375px) {
    .player-table {
        border: blue solid;
        position: absolute;
        left: -5%;
        bottom: -110%;
        text-align: center;
        max-width: 45%;
        font-size: small;
        /* max-width: 50vw; */
    }
    .cpu-table {
        border: rgb(255, 0, 149) solid;
        position: absolute;
        right: -5%;
        bottom: -110%;
        text-align: center;
        max-width: 45%;
        font-size: small;
    }
    .player-table button img {
        max-width: 5vw;
    }
    .cpu-table button img {
        max-width: 5vw;
    }
    #player-score {
        padding-top: 10px;
        border: 5px solid rgb(207, 33, 33);
        height: 25px;
        width: 35px;
        margin-left: 25%;
        border-radius: 5px;
        font-weight: bold;
    }
    #cpu-score {
        padding-top: 10px;
        border: 5px solid rgb(201, 198, 198);
        height: 25px;
        width: 35px;
        margin-left: 25%;
        border-radius: 5px;
        font-weight: bold;
    }
}

@media(max-width: 768px) {
    .player-table {
        border: blue solid;
        position: absolute;
        left: 10%;
        bottom: -60%;
        text-align: center;
        max-width: 50%;
        font-size: small;
        /* max-width: 50vw; */
    }
    .cpu-table {
        border: rgb(255, 0, 149) solid;
        position: absolute;
        right: 20%;
        bottom: -60%;
        text-align: center;
        max-width: 50%;
        font-size: small;
    }
    .player-table button img {
        max-width: 5vw;
    }
    .cpu-table button img {
        max-width: 5vw;
    }
    #player-score {
        padding-top: 30px;
        border: 5px solid rgb(207, 33, 33);
        height: 50px;
        width: 55px;
        margin-left: 25%;
        border-radius: 5px;
        font-weight: bold;
    }
    #cpu-score {
        padding-top: 30px;
        border: 5px solid rgb(201, 198, 198);
        height: 50px;
        width: 55px;
        margin-left: 25%;
        border-radius: 5px;
        font-weight: bold;
    }
    #message-display {
        font-weight: bold;
        width: auto;
        font-size: medium;
        justify-content: center;
        height: fit-content;
        margin: 1.5%;
        display: block;
    }
    .result {
        border-radius: 10px;
        text-align: center;
        position: absolute;
        left: 30%;
        bottom: 100%;
        padding: 15px;
        padding-bottom: 35px;
        border: 5px solid rgb(151, 148, 148);
        height: 3px;
        width: 200px;
    }
}