@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,600;1,700&family=Yomogi&display=swap');
* {
    margin: 0;
    padding: 0;
}


/* 
body {
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */

.title h1 {
    color: black;
    text-align: center;
    margin-top: 15px;
    font-family: 'Source Code Pro', monospace;
    font-size: 50px;
}


/* Player and CPU images styling  */

img {
    max-width: 25vw;
    max-height: 55vh;
    align-items: center;
}


/* End of Player and CPU images styling  */


/* Main container for all */

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
}


/* End of Main container for all */


/* styling the inner content that display the buttons for player */

.player-table {
    border-radius: 5px;
    text-align: center;
    border: blue solid;
    position: absolute;
    left: 25%;
    bottom: 20%;
}


/* End of styling the inner content that display the buttons for player */


/* styling the images for the players */

.player-table button img {
    max-width: 5vw;
}

.cpu-table button img {
    max-width: 5vw;
}


/* End of styling the images for the players */


/* styling the inner content that display the buttons for CPU */

.cpu-table {
    border-radius: 5px;
    text-align: center;
    border: blue solid;
    position: absolute;
    right: 25%;
    bottom: 20%;
}


/* End of styling the inner content that display the buttons for CPU */


/* Left pan for the image */

.left-pan {
    /* position: relative; */
    flex: 65%;
    padding: 10px;
    margin-left: 35px;
}


/* End of Left pan for the image */


/* Right pan for the image */

.right-pan {
    /* position: relative; */
    padding: 15px;
}


/* End of Right pan for the image */

.player-score {
    padding-top: 25px;
    border: 5px solid red;
    height: 50px;
    width: 50px;
    margin-left: 35%;
    border-radius: 5px;
}

.cpu-score {
    padding-top: 25px;
    border: 5px solid red;
    height: 50px;
    width: 50px;
    margin-left: 35%;
    border-radius: 5px;
}


/* Media query for smaller devies */

@media (max-width: 800px) {
    .right-pan,
    .left-pan {
        flex: 100%;
    }
    .player-table {
        border: blue solid;
        position: absolute;
        left: 15%;
        bottom: -15%;
    }
    .cpu-table {
        border: blue solid;
        position: absolute;
        right: 15%;
        bottom: -15%;
    }
}